// Override this file to add your own SCSS styling.
/*************************************************
 *  General
 **************************************************/
 @import url('https://fonts.googleapis.com/css2?family=Inconsolata&display=swap');

.callout {
	font-size: 1.15em;
}

.summary-text {
  line-height: 1.55;
  font-size: 1.05em;
}

blockquote p {
	font-size: 1.3em;
}

.author-highlighted {
  font-size: 1.1em;
  font-weight: 800;
}

footer .powered-by {
    font-size: .9rem;
}

/*************************************************
 *  Change from assets/scss/academic/_root.scss
 **************************************************/

 .wg-hero {
   padding: 3em 0; // More compact top and bottom padding for Hero.
 }

 .hero-title {
   font-size: 2.7rem;
   margin-top: 0;
   line-height: 1;
 }

 .hero-lead {
   max-width: 768px;
   font-size: 1.35rem;
 }

.carousel-control-prev-icon, .carousel-control-next-icon {
  opacity: 1;
 }
/*************************************************
 *  Change From assets/scss/academic/_widgets.scss
 **************************************************/
 .wg-hero.dark .hero-title,
 .wg-hero.dark .hero-lead,
 .wg-hero.dark .hero-cta-alt,
 .wg-hero.dark .hero-note > * {
   color: #FAFAFA;
   opacity: 1;
   text-shadow: 1px 1px 4px rgba(0,0,0,0.5);

   /* Uncomment to standout on complicated backgrounds. */
 }

.wg-hero.dark a:not(.wg-hero .btn) {
  color: #FAFAFA;
}

.wg-hero {
  background-size: cover;
  background-repeat: no-repeat;
  background-position: 50%;
}

/*************************************************
 *  Alert box for projects
 **************************************************/

div.alert-synopsis > div:first-child::before {
  font-family: 'Font Awesome 5 Free';
  font-weight: 0;
  color: #ff3860;
  content: '';
}

div.alert-synopsis > div {
  margin-left: 0.1rem;
}

.alert-synopsis {
	color: #34495EFF;
	font-family: 'Nunito Sans';
	background-color: #F2F2F2FF;
	border-color: #7c7c7cFF;
	border-radius: 15px;
	/*border-left-width: 30px;*/
	margin-bottom: 2rem;
	padding-top: 1.5rem;
	padding-bottom: 1.5rem;
	padding-left: -1rem;
}

/*************************************************
 *  Footer copyright license
 **************************************************/

.footer-license-icons {
  display: flex;
  font-size: 0;  // Hack to remove space characters between icons without using UL.
  text-decoration: none;
}

.footer-license-icons img {
  display: inline-flex;
  margin-right: 8px;
  height: 22px;
  vertical-align: text-bottom;
}

/*************************************************
 *  NAV LINKs
 **************************************************/

/*************************************************
 *  Change From assets/scss/academic/_nav.scss
 **************************************************/

.navbar-brand img {
	 max-height: 40px;
}

.navbar .navbar-nav .nav-link:hover,
.navbar .navbar-nav .nav-link:focus {
	color: #2962ff;
}

.navbar {
  box-shadow: none;
  text-transform: uppercase;
	letter-spacing: .1em;
	font-size: .9em;
}

.navbar-brand {
  text-transform: uppercase;
  font-weight: 700;
	letter-spacing: .1em;
}

/*************************************************
 *  NAV LINK HOVER ANIMATION #2962ff
 **************************************************/

/* from https://github.com/dcossyleon/blogdown_desiree/blob/master/assets/scss/custom.scss */

/* stroke */

a.nav-link,
a.nav-link:after,
a.nav-link:before {
  transition: all .5s;
}

a.nav-link {
  position: relative;
}

a.nav-link:after {
  position: absolute;
  bottom: 0;
  left: 0;
  right: 0;
  margin: auto;
  width: 0%;
  content: '.'; /* make invisible, dot beneath links */
  color: transparent;
  background: #D55E00;
  height: 2px;
}

a.nav-link:hover:after {
  width: 80%;
}

.dropdown-toggle::after {
  border: 0;
}

nav#TableOfContents a.nav-link:after {
  display: none;
}

/*************************************************
 *  Metric layouts
 **************************************************/

span.altmetric-embed {
  display: inline-block;
  float: left;
  background-color: #ffffff;
}

span.__dimensions_badge_embed__ {
  padding-left: 150px;
}

/*************************************************
 *  Code
 **************************************************/

 .hljs {
  font-size: 1.1em;
  display: block;
  overflow-x: auto;
  padding: 1.5em;
  color: #333;
  background: #f8f8f8;
	border-left: 6px solid #2962ff;
	border-top: 0.5px solid #333332;
	border-bottom: 0.5px solid #333332;
	border-right: 1px solid #333332;
	border-radius: 4px;
}

.hljs.apache {
  font-size: 1.1em;
  display: block;
  overflow-x: auto;
  padding: 1em;
  color: #333;
  background: #f8f8f8;
	border-left: 1px solid #333332;
	border-top: 0.5px solid #333332;
	border-bottom: 0.5px solid #333332;
	border-right: 1px solid #333332;
	border-radius: 4px;
}

.hljs.yaml {
  font-size: 1.1em;
  display: block;
  overflow-x: auto;
  padding: 1em;
  color: #333;
  background: #f8f8f8;
	border-left: 1px solid #333332;
	border-top: 0.5px solid #333332;
	border-bottom: 0.5px solid #333332;
	border-right: 1px solid #333332;
	border-radius: 4px;
}

code {
  font-size: 0.8em;
}

section.footnotes {
  font-size: 0.8em;
}

div.see-all {
  font-size: 1.5em;
}

/*************************************************
 *  Photo credits
 **************************************************/

.credits {
  font-size: 0.75em;
  line-height: 2.2em;
}

.credits p {
  margin-top: 1rem;
  margin-bottom: 1rem;
}

/*************************************************
 *  Markdown Tables
 **************************************************/
